<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html"
>
<head>
    <meta charset="UTF-8">
    <title>Nouveau Patient</title>

</head>
<body>
<div layout:fragment="content">
    <div class ="p-3">
       <form th:action="@{/savePatient}" method="post">
           <div class="mb-2">
               <label class="form-label">Name</label>
               <input type="texte" name="nom" class="form-control">

           </div>
           <div class="mb-2">
               <label class="form-label">Date Naissance</label>
               <input type="date" name="dateNaissance" class="form-control">

           </div>
           <div class="mb-2">
               <label class="form-label">Malade</label>
               <input type="checkbox" name="malade" class="form-check-input">

           </div>
           <div class="mb-2">
               <label class="form-label">Score</label>
               <input type="texte" name="score" class="form-control">

           </div>
           <button class="btn btn-success">Save</button>

       </form>
    </div>
</div>

</body>
</html>